<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>33</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows7.0\app.publish\</PublishDir>
    <PublishUrl>\\madhouse\!ClickOnce\Inspector\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(Keine)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UpdateUrl>\\madhouse\!ClickOnce\Inspector\</UpdateUrl>
    <MinimumRequiredVersion>1.0.0.10</MinimumRequiredVersion>
    <SkipPublishVerification>false</SkipPublishVerification>
    <History>True|2023-12-10T11:29:07.8862916Z;True|2023-12-10T12:27:54.0210272+01:00;True|2023-12-09T14:34:07.3897715+01:00;True|2023-11-25T13:28:03.4475424+01:00;True|2023-11-24T23:02:54.8554222+01:00;True|2023-11-24T22:07:47.2778860+01:00;True|2023-11-23T20:37:13.2385445+01:00;True|2023-11-20T17:11:57.8422686+01:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop-Runtime 6.0.25 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>